/*

Unidade de medidas CSS

-> Absolutas
px (pixels) 1/100 polegadas
in inches/polegadas
cm / mm centímetro

-> Relativas
% calcula o tamanho relativo ao elemento pai
vw view width 1vw é 1% da largura da janela do navegador
vh view height 1vh é 1% da altura da janela do navegador
em é uma unidade relativa ao elemento pai
rem é uma unidade relativa ao elemento raiz

.vo {}

.pai {
    width: 100vw;
    height: 100vh;
    background: aquamarine;
}

.filho {
    width: 50%;
    height: 50%;
    background: darkcyan;
}

*/

.vo {
    font-size: 17px;
}

.pai {
    width: 100px;
    height: 100px;
    background: aquamarine;
}

.filho {
    width: 50%;
    height: 50%;
    background: darkcyan;
}

